<h1>School Class Form</h1>

<%= form_for(@schoolclass) do |s| %>
  <%= s.label :title %>: <%= s.text_field :title %> <br>
  
  <%= s.label :room_number %>: <%= s.number_field :room_number %><br>
  <br>
  
  <%= s.submit %>
<% end %>